<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>FcTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = 'nav'>
  <li>
     <%=link_to 'Home', main_app.root_path %>
  </li>
  <li>
    <%=link_to 'Posts', main_app.posts_path %>
  </li>
    <li>
    <%=link_to 'Calendar', main_app.fullcalendar_engine_path %>
  </li>
  <li>
    <%=link_to 'Calendar at custom path', main_app.kalendar_path %>
  </li>    
</div>
<%= yield %>

</body>
</html>
